
.column{
	float:left;
	font-weight: 100;
	padding: 30px;
	width: 100%;
}
@media (min-width:400px) and (max-width:799px){
	.column{
		width: 100%;
	}
}

@media (min-width:800px) and (max-width:1199px){
	.column{
		width: 33%;
	}
}

@media (min-width:1200px){
	.column{
		width: 25%;
	}
}